In [1]:
1+1

2

In [2]:
1<2

True

In [3]:
(1==2) or (1==1)

True

In [4]:
(1==2) and (1==1)

False

In [5]:
1==1 and not 1==2

True

In [11]:
if (1==2):
    print("hello")
elif 3==3:
        print ("true")
else:
    print("statement is false")

true

In [3]:
seq =[1,2,3,4,5]
for item in seq: 
    print(item**2)

1
4
9
16
25

In [1]:
i =1
while i<5:
    print('i is currently {}'.format(i))
    i = i+1

i is currently 1
i is currently 2
i is currently 3
i is currently 4

In [5]:
for item in range(0,50,1):
    print(item)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [7]:
x=[1,2,3,4]
out =[]
for num in x:
    out.append(num**2)

In [8]:
out

[1, 4, 9, 16]

In [27]:
def my_function(param):
    """
    this is a function to curse you
    """
    return param*5

In [28]:
x = my_function(10)
print (x)

50

In [29]:
def times_two(param): 
    return param*2

In [30]:
lambda var: var*2

In [31]:
seq =[1,2,3,4,5]
list(map(times_two,seq))

[2, 4, 6, 8, 10]

In [32]:
seq =[1,2,3,4,5]
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [38]:
def is_even(num):
    return num%2 == 0
list(filter(is_even, seq))

[2, 4]

In [40]:
list(filter(lambda var : var % 2 ==0,seq))

[2, 4]

In [44]:
st = 'Hello my name is Sam'
st.lower()

'hello my name is sam'

In [45]:
st.upper()

'HELLO MY NAME IS SAM'

In [48]:
tweet ="Go Sports ! #COOL"
tweet.split('#')[1]

'COOL'

In [49]:
d ={'key': 10, 'key2':'secondItem'}

In [51]:
d.items()

dict_items([('key', 10), ('key2', 'secondItem')])

In [52]:
my_list =[1,2,3,4]
my_list.append(5)

In [53]:
my_list.pop()
#remove the last item from the arrays

5

In [54]:
my_list

[1, 2, 3, 4]

In [55]:
#remove number 3 from array
my_list.pop(2)
my_list

[1, 2, 4]