In [6]:
import numpy as np 
import pandas as pd
from numpy.random import randn

In [7]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [8]:
df = pd.DataFrame(randn(6,2), hier_index,['A', 'B'])

In [9]:
df

             A         B
G1 1 -1.097150 -1.846105
   2  0.178635  0.485290
   3 -1.277476 -0.424289
G2 1  0.834304  0.085022
   2 -0.669163 -0.698837
   3  0.713675 -1.244513

In [11]:
df.loc['G1'].loc[1]

A   -1.097150
B   -1.846105
Name: 1, dtype: float64

In [12]:
df.index.names=['Groups','Num']

In [13]:
df

                   A         B
Groups Num
G1     1   -1.097150 -1.846105
       2    0.178635  0.485290
       3   -1.277476 -0.424289
G2     1    0.834304  0.085022
       2   -0.669163 -0.698837
       3    0.713675 -1.244513

In [18]:
df.loc['G2'].loc[2]['B']

-0.6988374668999489

In [22]:
df.loc["G1"].loc[1]['B']

-1.846104766274054

In [25]:
df.xs('G1')# cross section

            A         B
Num
1   -1.097150 -1.846105
2    0.178635  0.485290
3   -1.277476 -0.424289

In [26]:
df.xs(2, level='Num')

               A         B
Groups
G1      0.178635  0.485290
G2     -0.669163 -0.698837