In [1]:
import numpy as np 
import pandas as pd
from numpy.random import randn

In [2]:
np.random.seed(101)

In [5]:
df = pd.DataFrame(randn(5,4),['a','b','c',"d","e"],['w','X','y','z'])
df

          w         X         y         z
a -0.993263  0.196800 -1.136645  0.000366
b  1.025984 -0.156598 -0.031579  0.649826
c  2.154846 -0.610259 -0.755325 -0.346419
d  0.147027 -0.479448  0.558769  1.024810
e -0.925874  1.862864 -1.133817  0.610478

In [12]:
df['w']

a   -0.993263
b    1.025984
c    2.154846
d    0.147027
e   -0.925874
Name: w, dtype: float64

In [14]:
df.w.b #can be done as well, but better use the bracket

1.025984152081572

In [21]:
df[['w','z','X']]

          w         z         X
a -0.993263  0.000366  0.196800
b  1.025984  0.649826 -0.156598
c  2.154846 -0.346419 -0.610259
d  0.147027  1.024810 -0.479448
e -0.925874  0.610478  1.862864

In [22]:
df['new']= df['w'] + df['z']

In [23]:
df

          w         X         y         z       new
a -0.993263  0.196800 -1.136645  0.000366 -0.992897
b  1.025984 -0.156598 -0.031579  0.649826  1.675810
c  2.154846 -0.610259 -0.755325 -0.346419  1.808428
d  0.147027 -0.479448  0.558769  1.024810  1.171837
e -0.925874  1.862864 -1.133817  0.610478 -0.315396

In [24]:
#df.drop('new')  it won't run
df.drop('new', axis=1) #dropping without delete the series

          w         X         y         z
a -0.993263  0.196800 -1.136645  0.000366
b  1.025984 -0.156598 -0.031579  0.649826
c  2.154846 -0.610259 -0.755325 -0.346419
d  0.147027 -0.479448  0.558769  1.024810
e -0.925874  1.862864 -1.133817  0.610478

In [26]:
df.drop('new', axis=1, inplace= True) # drop column permanently

In [31]:
df.drop('e', axis=0, inplace=True)

In [32]:
df

          w         X         y         z
a -0.993263  0.196800 -1.136645  0.000366
b  1.025984 -0.156598 -0.031579  0.649826
c  2.154846 -0.610259 -0.755325 -0.346419
d  0.147027 -0.479448  0.558769  1.024810

In [35]:
#selecting column 
df[["z","X"]]

          z         X
a  0.000366  0.196800
b  0.649826 -0.156598
c -0.346419 -0.610259
d  1.024810 -0.479448

In [37]:
# SELECTING ROWS
df.loc['a']

w   -0.993263
X    0.196800
y   -1.136645
z    0.000366
Name: a, dtype: float64

In [38]:
df.iloc[2]

w    2.154846
X   -0.610259
y   -0.755325
z   -0.346419
Name: c, dtype: float64

In [39]:
df.loc['b','y']

-0.031579143908112575

In [40]:
df.loc[['a','b'],["w","y"]]

          w         y
a -0.993263 -1.136645
b  1.025984 -0.031579

In [45]:
# conditional 
booldf=df>0

In [46]:
df[booldf]

          w       X         y         z
a       NaN  0.1968       NaN  0.000366
b  1.025984     NaN       NaN  0.649826
c  2.154846     NaN       NaN       NaN
d  0.147027     NaN  0.558769  1.024810

In [47]:
df[df>0]

          w       X         y         z
a       NaN  0.1968       NaN  0.000366
b  1.025984     NaN       NaN  0.649826
c  2.154846     NaN       NaN       NaN
d  0.147027     NaN  0.558769  1.024810

In [49]:
df['w']>0

a    False
b     True
c     True
d     True
Name: w, dtype: bool

In [54]:
df[df['w']>0]

          w         X         y         z
b  1.025984 -0.156598 -0.031579  0.649826
c  2.154846 -0.610259 -0.755325 -0.346419
d  0.147027 -0.479448  0.558769  1.024810

In [55]:
df[df['z']<0]

          w         X         y         z
c  2.154846 -0.610259 -0.755325 -0.346419

In [56]:
resultdf = df[df['w']>0]

In [62]:
resultdf['X']

b   -0.156598
c   -0.610259
d   -0.479448
Name: X, dtype: float64

In [68]:
df[df['z']>0][["X",'y']]

          X         y
a  0.196800 -1.136645
b -0.156598 -0.031579
d -0.479448  0.558769

In [71]:
boolser = df['w']>0
result = df[boolser]

In [70]:
boolser

a    False
b     True
c     True
d     True
Name: w, dtype: bool

In [75]:
result

          w         X         y         z
b  1.025984 -0.156598 -0.031579  0.649826
c  2.154846 -0.610259 -0.755325 -0.346419
d  0.147027 -0.479448  0.558769  1.024810

In [77]:
result[['X','z']]

          X         z
b -0.156598  0.649826
c -0.610259 -0.346419
d -0.479448  1.024810

In [83]:
#multiple condition
# df[(df['w']>0) and (df['y']>1)] # wrong
df[(df['w']>0) & (df['y']>1)] #and

Empty DataFrame
Columns: [w, X, y, z]
Index: []

In [85]:
df[(df['w']>0) | (df['y']>1)]  #or

          w         X         y         z
b  1.025984 -0.156598 -0.031579  0.649826
c  2.154846 -0.610259 -0.755325 -0.346419
d  0.147027 -0.479448  0.558769  1.024810

In [89]:
df.reset_index() #inplace = true to make permanent

  index         w         X         y         z
0     a -0.993263  0.196800 -1.136645  0.000366
1     b  1.025984 -0.156598 -0.031579  0.649826
2     c  2.154846 -0.610259 -0.755325 -0.346419
3     d  0.147027 -0.479448  0.558769  1.024810

In [93]:
newind = 'ca ny wy or'.split()

In [94]:
newind

['ca', 'ny', 'wy', 'or']

In [95]:
df['States'] = newind

In [96]:
df

          w         X         y         z States
a -0.993263  0.196800 -1.136645  0.000366     ca
b  1.025984 -0.156598 -0.031579  0.649826     ny
c  2.154846 -0.610259 -0.755325 -0.346419     wy
d  0.147027 -0.479448  0.558769  1.024810     or

In [99]:
df.set_index('States') #inplace = true to permanently change

               w         X         y         z
States
ca     -0.993263  0.196800 -1.136645  0.000366
ny      1.025984 -0.156598 -0.031579  0.649826
wy      2.154846 -0.610259 -0.755325 -0.346419
or      0.147027 -0.479448  0.558769  1.024810

In [98]:
df

          w         X         y         z States
a -0.993263  0.196800 -1.136645  0.000366     ca
b  1.025984 -0.156598 -0.031579  0.649826     ny
c  2.154846 -0.610259 -0.755325 -0.346419     wy
d  0.147027 -0.479448  0.558769  1.024810     or