In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
from datetime import datetime

In [5]:
myyear = 2019
mymonth = 1
myday = 2
myhour= 13
mymin= 30
myseconds = 15
mydate = datetime(myyear,mymonth,myday)

In [6]:
mydate

datetime.datetime(2019, 1, 2, 0, 0)

In [7]:
first_two = [datetime(2016,1,1), datetime(2016,1,2)]

In [8]:
dt_ind = pd.DatetimeIndex(first_two)

In [9]:
dt_ind

DatetimeIndex(['2016-01-01', '2016-01-02'], dtype='datetime64[ns]', freq=None)

In [13]:
data = np.random.randn(2,2)
cols =['a', 'b']
df =pd.DataFrame(data, dt_ind, cols)
df

                   a         b
2016-01-01 -0.511025 -1.091898
2016-01-02 -0.929091 -0.609558

In [14]:
df.index.argmax() #getting index with max value

1

In [15]:
df.index.max() #getting max value

Timestamp('2016-01-02 00:00:00')

In [17]:
df.index.argmin() #getting index with min value

0